.beg-text{
    display: inline-block;
}
.home{
    display: inline-block;
    align-content: flex-start;
}
#choice-header{
    text-align: center;
    align-items: center;
}
#choice-yes{
    cursor: pointer;
}
#choice-no:hover{
    margin-left: 100px;
}

.thumb {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 10px;
    cursor:pointer;
}
#image-thumbs{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
#image-gallery{
    width: 600px;
    margin: 0 auto;
}
#current-image{
    border-color: gray;
    width: 100%;
}
.intro{
    text-align: center;
    font-family: Arial;
}
.coupon{
    width: 100%;
    border: 10px;
    border-color: gray;
    cursor: pointer;
}
.head{
    text-align: center;
}
.buttons{
    text-align: center;
    background: gray;
    padding: 20px;
}
.statement-lines{
    font-size: 25px;
    text-align: center;
}
.pre-sign{
    display: inline-block;
    text-align: center;
}
.signature{
    font-family: 'Pacifico', cursive;
    display: inline-block;
    text-align: center;
}
.tblphoto{
    height: 85px;
}
.babytext {
    font-family: Arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.gallery-button:hover {
    opacity: 0.8;  
}

.gallery-button:active {
    opacity: 0.5;
}

.statement-button:hover {
    background-color: rgb(41, 118, 211);
    color: white;
}

.statement-button:active {
    opacity: 0.7;
}

.gallery-button,
.statement-button,
.vest-button {
    background-color: rgb(21, 113, 233);
    color: white;
    border-radius: 18px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    margin-left: 8px;
    transition: box-shadow .15s;
}

.vest-button:hover {
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .15);  
}

.present-button {
    background-color: green;
    color: white;
    cursor: pointer;
}

.present{
    text-align: center;
}

